<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .bg-focus {
            background-color: #edf2f7;
        }
    </style>
</head>
<body class="bg-gray-100 p-8">
<!-- Header Section Start -->
<div class="flex justify-between items-center bg-white p-4 shadow-md">
    <h1 class="text-xl font-bold">Results Portal</h1>
    <a href="/logout" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
        Logout
    </a>
</div>
<!-- Header Section End -->
<form
        id="updationform"
        action="/dashboard"
        method="post"
        class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md mt-8"
>
    <div class="mb-4">
        <label
                for="student_or_teacher"
                class="block text-gray-700 font-bold mb-2"
        >Select Role:</label
        >
        <select
                id="student_or_teacher"
                value="student"
                name="student_or_teacher"
                class="block w-full px-4 py-3 bg-gray-200 rounded-lg focus:outline-none focus:bg-white"
        >
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
    </div>
    <div id="studentdetails" class="mb-4">
        <input
                id="student_roll_no"
                name="student_roll_no"
                type="text"
                placeholder="Enter Roll Number"
                class="block w-full px-4 py-3 bg-gray-200 rounded-lg focus:outline-none focus:bg-white mb-2"
        />
        <input
                id="name_of_the_student"
                name="name_of_the_student"
                type="text"
                placeholder="Name of the Student"
                class="block w-full px-4 py-3 bg-gray-200 rounded-lg focus:outline-none focus:bg-white mb-2"
        />
        <input
                id="section"
                name="section_of_the_student"
                type="text"
                placeholder="Section of the Student"
                class="block w-full px-4 py-3 bg-gray-200 rounded-lg focus:outline-none focus:bg-white mb-2"
        />
    </div>
    <div id="teacherdetails" class="mb-4 hidden">
        <input
                id="teacher_name"
                name="teacher_name"
                type="text"
                placeholder="Enter Name of Teacher"
                class="block w-full px-4 py-3 bg-gray-200 rounded-lg focus:outline-none focus:bg-white mb-2"
        />
        <input
                id="teacher_subject"
                name="teacher_subject"
                type="text"
                placeholder="Enter Subject of Teacher"
                class="block w-full px-4 py-3 bg-gray-200 rounded-lg focus:outline-none focus:bg-white mb-2"
        />
    </div>
    <button
            type="submit"
            class="w-full bg-blue-500 text-white py-3 rounded-lg"
    >
        Submit
    </button>
</form>
<script>
    document
            .getElementById("student_or_teacher")
            .addEventListener("change", function (e) {
                if (e.target.value == "student") {
                    document.getElementById("teacherdetails").style.display = "none";
                    document.getElementById("studentdetails").style.display = "block";
                } else {
                    document.getElementById("studentdetails").style.display = "none";
                    document.getElementById("teacherdetails").style.display = "block";
                }
            });

    document.querySelectorAll("input").forEach((input) => {
        input.addEventListener("focus", function () {
            input.classList.add("bg-focus");
        });
        input.addEventListener("blur", function () {
            input.classList.remove("bg-focus");
        });
    });
    document
            .getElementById("updationform")
            .addEventListener("submit", async function (e) {
                e.preventDefault();
                if (
                        document.getElementById("student_or_teacher").value == "student"
                ) {
                    const data = await fetch("/dashboard/student", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({
                            rollno: document.getElementById("student_roll_no").value,
                            name: document.getElementById("name_of_the_student").value,
                            section: document.getElementById('section').value,
                        }),
                    });
                    const result = await data.json();
                    window.alert("student updation successful");
                } else {
                    const data = await fetch("/dashboard/teacher", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({
                            name: document.getElementById("teacher_name").value,
                            subject: document.getElementById("teacher_subject").value,
                        }),
                    });
                    const result = await data.json();
                    window.alert("teacher updation successful");
                }
            });
</script>
</body>
</html>
